@import '../styles/variables.scss';
@import '../styles/mobile.module.scss';

$img_width: 300px;
$img_padding_left: 50px;

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 0px 100px 0px 100px;
}
.name {
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  font-family: Merienda;
  color: $color_1;
}
.img {
  @include mobile {
    margin: 20px 0px 20px 0px;
  }
  img {
    width: 100%;
  }
}
.spacer_button {
  visibility: hidden;
}
.wrapper_text {
  margin-right: 100px;
}
.text {
  text-align: justify;
  line-height: 25px;
  align-items: center;
  font-size: 18px;
}
.color {
  color: $color_1;
}
.gras_color {
  font-weight: 400;
  color: $color_1;
}
.gras {
  font-weight: 400;
}
.wrapper_button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  @include web {
    margin: 50px 0px;
  }
  margin: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color_1;
  color: white;
  border-radius: 5px;
  height: 50px;
  width: 200px;
  font-size: 18px;
  &:hover {
    cursor: pointer;
    background-color: $color_2;
    color: white;
  }
}
.banniere {
  display: flex;
  justify-content: center;
  @include web {
    margin-bottom: 30px;
  }
  @include mobile {
    margin: 5% 0px 5% 0px;
  }
  img {
    @include web {
      width: 80%;
    }
    @include mobile {
      width: 100%;
      height: 100%;
    }
  }
}
.footer1 {
  text-align: center;
  font-family: Merienda;
  color: $black;
  @include mobile {
    margin: 0px 0px 20px 0px;
  }
}
.footer2 {
  text-align: right;
  color: $color_5;
}
