@import '../styles/variables.scss';

.wrapper {
  align-items: center;
  margin: 5% 5% calc(5% - 15px) 5%;
  .wrapper_pastilles {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    .wrapper_pastille {
      background-color: $color_3;
      width: 300px;
      margin: 0 8px 16px 8px;
      padding: 10px;
    }
    .wrapper_pastille_web {
      &:hover {
        background-color: $color_2;
        color: $color_3;
        cursor: pointer;
      }
    }
    img {
      width: 300px;
    }
    .title {
      font-size: 22px;
      padding: 10px 0px 10px 0px;
      color: $color_1;
    }
    .intro {
      font-size: 16px;
      font-family: 'Roboto';
      line-height: 20px;
      height: 60px;
      text-align: justify;
    }
  }
  .wrapper_wiewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color_1;
      color: white;
      border-radius: 5px;
      height: 50px;
      width: 200px;
      font-size: 18px;
      &:hover {
        cursor: pointer;
        background-color: $color_2;
        color: white;
      }
      &:last-of-type {
        margin-bottom: 15px;
      }
    }
    iframe {
      margin: 15px;
    }
  }
}
