@import '../styles/variables.scss';
@import '../styles/mobile.module.scss';

.gras {
  font-weight: 400;
}
.wrapper {
  display: flex;
  flex-direction: column;
  @include mobile {
    margin: 5% 5% 0% 5%;
  }
  margin: 80px 50px 50px 50px;
  .wrapper_titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mobile {
      padding-bottom: 25px;
    }
    padding-bottom: 100px;
    .titre1 {
      display: flex;
      justify-content: center;
      font-size: 28px;
      color: $color_5;
      padding-bottom: 15px;
      text-align: center;
    }
    .titre2 {
      display: flex;
      justify-content: center;
      font-size: 48px;
      color: $color_2;
      font-weight: 400;
      text-align: center;
    }
  }
  .wrapper_contacts {
    display: flex;
    @include mobile {
      flex-direction: column;
      padding-bottom: 50px;
    }
    padding-bottom: 100px;
    .space {
      height: 25px;
    }
    .wrapper_contact {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-grow: 1;
      .logo_contact {
        font-size: 50px;
        color: $color_5;
        padding-bottom: 5px;
      }
      .text_contact {
        padding-bottom: 10px;
        font-style: italic;
      }
      .contact {
        font-size: 24px;
        color: $color_5;
        font-weight: 500;
      }
    }
  }
  .wrapper_acces {
    display: flex;
    flex-direction: column;
    @include mobile {
      padding-bottom: 0px;
    }
    padding-bottom: 100px;
    .titre_acces {
      display: flex;
      justify-content: center;
      font-size: 36px;
      color: $color_2;
      @include mobile {
        padding-bottom: 25px;
      }
      padding-bottom: 80px;
      font-weight: 400;
    }
    .content {
      display: flex;
      @include mobile {
        flex-direction: column;
      }
      align-items: center;
      .wrapper_access {
        display: flex;
        justify-content: center;
        @include mobile {
          width: 100%;
          flex-grow: 0;
        }
        flex-grow: 1;
        .logo_acces {
          display: flex;
          align-items: center;
          font-size: 50px;
          color: $color_5;
          padding-right: 20px;
        }
        .wrapper_acces_lines {
          display: flex;
          flex-direction: column;
          @include mobile {
            margin-bottom: 25px;
          }
          .wrapper_acces_line {
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            .wrapper_ligne_bus {
              display: flex;
              height: 22px;
              align-items: center;
              margin-right: 10px;
              .type_ligne {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                font-size: 13px;
                background: $rouge_tcl;
                border-radius: 25% 0% 0% 25% / 100% 0% 0% 100%;
                border-color: white;
                padding: 2px 6px;
                color: white;
                margin-right: 4px;
                width: 24px;
                height: 18px;
              }
              .type_ligne_C {
                display: flex;
                justify-content: center;
                font-weight: 500;
                font-size: 18px;
                background: $rouge_tcl;
                border-radius: 25% 0% 0% 25% / 100% 0% 0% 100%;
                border-color: white;
                padding: 2px 6px;
                color: white;
                margin-right: 4px;
                width: 24px;
              }
              .numero_ligne {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 28px;
                border: solid 1px $rouge_tcl;
                color: $rouge_tcl;
                height: 20px;
                font-weight: 500;
              }
              .numero_ligne_C {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                background-color: $gris_tcl;
                color: white;
                height: 22px;
                font-weight: 500;
              }
            }
            .acces_logo {
              font-size: 24px;
              display: flex;
              align-items: center;
              justify-content: center;
              @include mobile {
                width: 70px;
                margin-right: 10px;
              }
              width: 60px;
              color: $gris_tcl;
            }
            .acces_logo_parking {
              font-size: 24px;
              display: flex;
              align-items: center;
              justify-content: center;
              @include mobile {
                width: 70px;
                margin-right: 10px;
              }
              width: 60px;
              color: $bleu_parking;
            }
            .acces_text {
              line-height: 24px;
            }
          }
        }
      }
    }
  }
  .banniere {
    display: flex;
    justify-content: center;
  }
  img {
    height: 250px;
  }
}
