@import '../styles/variables.scss';
@import '../styles/mobile.module.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  @include mobile {
    margin: 5% 5% 5% 5%;
  }
  margin: 50px 100px 50px 100px;
  .gras {
    font-weight: 500;
  }
  .color {
    color: $color_1;
  }
  .intro {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-family: Merienda;
    @include mobile {
      text-align: justify;
      font-size: 22px;
    }
    font-size: 22px;
    padding-bottom: 15px;
  }
  .titre {
    display: flex;
    color: $color_5;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 25px;
  }
  .text {
    text-align: justify;
    line-height: 25px;
  }
  .space {
    @include mobile {
      height: 50px;
    }
    height: 100px;
  }
  .space_2 {
    @include mobile {
      height: 10px;
    }
    height: 50px;
  }
  .wrapper_methode {
    display: flex;
    align-items: center;
    .wrapper_text {
      display: inline-block;
      text-align: justify;
      line-height: 25px;
      .titre_text {
        color: $color_5;
        font-size: 32px;
        float: left;
        padding: 22px;
        font-weight: 500;
      }
    }
    .image {
      display: flex;
      @include mobile {
        display: none;
      }
      padding: 0px 25px 0px 25px;
      img {
        height: 120px;
      }
    }
  }
}
