@import '../styles/variables.scss';
$font_size_prix: 40px;

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px;
  .wrapper_line {
    display: flex;
    flex-grow: 1;
    .space {
      width: 20px;
    }
    .wrapper_pastille {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      .wrapper_title {
        display: flex;
        justify-content: center;
        .title {
          color: $color_5;
          font-size: 32px;
          text-align: center;
          padding: 10px;
          border: 2px solid $color_3;
          position: relative;
          top: 28px;
          background-color: white;
          width: 70%;
        }
        .title_offre {
          color: $color_1;
          font-size: 32px;
          text-align: center;
          padding: 10px;
          border: 2px solid $color_3;
          position: relative;
          top: 28px;
          background-color: white;
          width: 70%;
          font-weight: 400;
        }
      }
      .wrapper_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        border: 2px solid $color_3;
        flex-grow: 1;
        height: 350px;
        padding: 50px 0px 50px 0px;
        .wrapper_offre {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-grow: 1;
        }
        .plus {
          text-align: center;
          font-size: 32px;
          margin: 20px;
        }
        .content {
          display: flex;
          justify-content: center;
          margin-bottom: 20px;
        }
        .content_offre {
          display: flex;
          justify-content: center;
        }
        .pastille {
          padding: 10px 20px 10px 20px;
          background-color: white;
          border-radius: 18px;
          font-weight: 500;
          border: 2px solid $color_3;
          .gras_color {
            color: $color_1;
          }
        }
        .condition {
          display: flex;
          justify-content: center;
        }
        .wrapper_prix {
          display: flex;
          justify-content: center;
          color: $color_5;
          margin-bottom: 10px;
          font-weight: 400;
          .prix {
            display: flex;
            align-items: center;
            font-size: $font_size_prix;
          }
          .wrapper_unitee {
            display: flex;
            flex-direction: column;
            margin-left: 5px;
            .device {
              font-size: $font_size_prix/2;
            }
            .frequence {
              font-size: $font_size_prix/2;
            }
          }
        }
        .wrapper_prix_offre {
          display: flex;
          justify-content: center;
          color: $color_1;
          margin-top: 30px;
          font-weight: 400;
          .prix {
            display: flex;
            align-items: center;
            font-size: $font_size_prix;
          }
          .wrapper_unitee {
            display: flex;
            flex-direction: column;
            margin-left: 5px;
            .device {
              font-size: $font_size_prix/2;
            }
            .frequence {
              font-size: $font_size_prix/2;
            }
          }
        }
      }
    }
  }
}
