@import '../styles/variables.scss';
@import '../styles/mobile.module.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0px 25px 0px 25px;
  @include mobile {
    margin: 0px;
  }
  .wrapper_contact {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    .wrapper_localisation {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      @include mobile {
        padding-bottom: 5px;
        flex-shrink: 1;
      }
      .logo_localisation {
        color: $color_5;
        padding-right: 15px;
        @include mobile {
          font-size: 16px;
          width: 30px;
          display: flex;
          justify-content: center;
          padding-right: 5px;
        }
        font-size: 24px;
      }
      .wrapper_adresse {
        .adresse {
          color: $black;
          padding-bottom: 5px;
        }
        .ville {
          color: $black;
        }
      }
    }
    .logo {
      display: flex;
      justify-content: center;
      @include mobile {
        padding-bottom: 5px;
        padding-left: 10px;
        flex-grow: 0;
      }
      flex-grow: 1;
      img {
        height: 40px;
      }
    }
    .contact {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      .wrapper_tel {
        display: flex;
        padding-bottom: 5px;
        .logo_tel {
          color: $color_5;
          width: 30px;
          display: flex;
          justify-content: center;
          padding-right: 5px;
        }
        .num {
          color: $black;
        }
      }
      .wrapper_mail {
        display: flex;
        .logo_mail {
          color: $color_5;
          width: 30px;
          display: flex;
          justify-content: center;
          padding-right: 5px;
        }
        .mail {
          color: $black;
        }
      }
    }
  }
  .copyright {
    color: $color_3;
    padding-top: 10px;
  }
}
