@import '../styles/variables.scss';

.wrapper {
  display: flex;
  width: 100%;
  margin: 0px 25px 0px 25px;
  align-items: center;
  .wrapper_name {
    width: 130px;
    font-size: 20px;
    flex-shrink: 0;
    font-family: Merienda;
    color: $color_3;
    .name {
      text-align: left;
    }
    .surname {
      text-align: right;
    }
  }
  .title {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    .job {
      color: $color_3;
      font-size: 28px;
      text-align: center;
      font-family: Cinzel;
    }
    .logo_pomme {
      padding-left: 30px;
      img {
        height: 50px;
      }
    }
  }
  .contact {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    .logo_tel {
      color: $color_1;
      font-size: 24px;
      padding-right: 10px;
    }
    .number {
      font-size: 20px;
    }
  }
}
