@import '../styles/variables.scss';
@import '../styles/mobile.module.scss';

.wrapper {
  display: flex;
  width: 100%;
  margin: 0px 25px 0px 25px;
  @include mobile {
    margin: 0px 5% 0px 5%;
    justify-content: space-between;
  }
  align-items: center;
  .logo_hamburger {
    display: flex;
    color: $color_2;
    font-size: 24px;
  }
  .wrapper_name {
    width: 130px;
    font-size: 20px;
    flex-shrink: 0;
    font-family: Merienda;
    color: $color_3;
    .name {
      text-align: left;
    }
    .surname {
      text-align: right;
    }
  }
  .title {
    display: flex;
    @include web {
      flex-grow: 1;
    }
    align-items: center;
    justify-content: center;
    .job {
      color: $color_3;
      font-size: 28px;
      @include mobile {
        font-size: 24px;
      }
      text-align: center;
      font-family: Cinzel;
    }
    .logo_pomme {
      @include mobile {
        padding-left: 0px;
      }
      padding-left: 30px;
      img {
        @include mobile {
          width: 40px;
        }
        @include web {
          height: 50px;
        }
      }
    }
  }
  .contact {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    .logo_tel {
      color: $color_1;
      font-size: 24px;
      padding-right: 10px;
    }
    .number {
      color: $color_3;
      font-size: 20px;
    }
  }
  .side_menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: red;
    transition: left 300ms ease-in-out;
  }
  .side_menu_open {
    left: 0;
  }
  .side_menu_close {
    left: -200px;
  }
}
